



.circle_bg {
    background-color: #282a36;
    border-radius: 310px;
}

.header {
    background: none;
}

.time_label {
    color: #f8f8f2;
}

.alarm_clock {
    background: #fff5ff;
    border-radius: 50%;
}

.space_for_time {
    border: none;
}

.alarm_clock_area {
    background: none;
    border: none;
}

.alarm_clock_scroll_area {
    border: none;
    background-color: rgba(0, 0, 0, 0);
}